section {
	max-width: 321px;
	margin: auto;
}

h1 {
	color: var(--primary-3);
}

section.main {
	margin: auto;
}

section.main .top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.main .top #filter {
	margin: 1rem 0;
}

#results {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: center;
	gap: 16px;
}

.loader {
	margin: 2rem 0;
}

button:hover .loader-double:after {
	border: 2px solid var(--primary-3);
	border-color: var(--primary-3) transparent;
}

.post {
	box-shadow: var(--shadow);
	background: white !important;
	color: black !important;
}

.post .content a {
	color: black;
}

@media only screen and (min-width: 768px) {
	section {
		max-width: 1064px;
	}

	section.main {
		align-items: flex-start;
		margin: auto 3rem;
	}

	section.main h1 {
		text-align: left;
	}

	section.main .top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 1rem 0;
	}

	section.main .top h1 {
		margin: 0;
		margin-bottom: 1rem;
	}

	#results {
		width: 100%;
		justify-items: flex-start;
	}

	button {
		margin: 2rem 0;
	}
}

@media only screen and (min-width: 1164px) {
	section.main {
		max-width: 1064px;
		margin: auto;
	}
}
